<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="gunsmoke" value="https://archive.org/details/OTRR_Gunsmoke_Singles/download/OTRR_Gunsmoke_Singles/"/>
    <add key="richarddiamon" value="https://archive.org/details/OTRR_Richard_Diamond_Private_Detective_Singles"/>
    <add key="cbsradiomystery" value="https://archive.org/details/otr_cbsradiomysterytheater"/>
    <add key="xminusone" value="https://archive.org/details/OTRR_X_Minus_One_Singles"/>
    <add key="dimensionx" value="https://archive.org/details/OTRR_Dimension_X_Singles"/>
    <add key="incrediblebuttrue" value="https://archive.org/details/OTRR_Incredible_But_True_Singles"/>
    <add key="wwiinews1944" value="https://archive.org/details/WWII_News_1944"/>
    <add key="bioinsound" value="https://archive.org/details/Biography_in_Sound"/>
  </appSettings>
</configuration>